<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="gustos-page">
  <h1>🎵 Mis Gustos Personales</h1>

  <div class="gustos-grid">
    <div class="card">
      <h2>🎶 Personajes favoritos</h2>
      <p>Me encantan las historias de dioses griegos y todo lo relacionado, entonces tengo personajes 
        favoritos como la mujer maravilla, Thor, pero también adoro a Stitch, Ladybug, y personajes de anime.
      </p>
    </div>

    <div class="card">
      <h2>🎬 Películas</h2>
      <p>Soy fan del cine de género distópico, películas de animación, series que no sean románticas, adoro el drama.</p>
    </div>

    <div class="card">
      <h2>🍜 Comida</h2>
      <p>Mis favoritos son los tacos al pastor, la comida rápida y una buena pizza artesanal (sin mezcla de dulce y salado).</p>
    </div>

    <div class="card">
      <h2>🎮 Videojuegos</h2>
      <p>Me gusta jugar COD, y juegos de estrategia</p>
    </div>
  </div>
</section>

</body>
</html>